body {
  background-image: url(../images/banner/banner1.png);
}

.font open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

#banner {
  width: 33%;
  max-width: 525px;
  float: right;
}

.banner-heading {
  font-size: 65px;
  font-weight: bold;
  color: #151414;
  padding 18px 10px;
}

.banner-text {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding 11px 4px;
}

.btn {
  background-color: #F15B22;
  border: none;
  padding: 21px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}